<form id="updateAccountSettings" method="POST" name="updateAccountSettings" novalidate>
	<!---form--->
	<div class="panel panel-flat p-20 clearfix container-fluid" style="font-size:15px;">
		<h4 class="text-left">
			Basic Details
		</h4>
		<div class="row clearfix">
			<label class="col-md-3">Name</label>
			<div class="col-md-9">
				{{userDetails.firstname }} {{userDetails.lastname }}
			</div>
		</div>

		<div class="row clearfix">
			<label class="col-md-3">Username</label>
			<div class="col-md-3">
				{{userDetails.username }}
			</div>
			<label class="col-md-3">Email</label>
			<div class="col-md-3">
				{{userDetails.email }}
			</div>
		</div>
		<div class="row clearfix">

			<label class="col-md-3">You are a </label>
			<div class="col-md-9">
				{{userDetails.usertype }}
			</div>
		</div>
	</div>

	<div class="panel panel-flat p-20 clearfix container-fluid">
		<h4>Advanced Details</h4>

		<label for="InputCompanyName">Company Name</label>
		<input type="text" ng-model="userDetails.companyname" class="form-control" name="company_name" placeholder="Enter Company Name "
			   validator="required"
			   valid-method="submit"
			   required-error-message="Enter Company Name"
			   tabindex="8"
			   id="InputCompanyName"

		>
		<br/>
		<div ng-if="userDetails.usertype=='publisher'">
			<label for="selectMonthlyVisitor">Monthly Unique Visitor</label>
			<select class="form-control" ng-model="userDetails.monthly_visitor" name="monthly_visitor"
					valid-method="submit"
					required-error-message="Please select your Monthly Unique Visitor"
					id="selectMonthlyVisitor"
					tabindex="9"
					name="monthlyVisitor"
			>
				<option selected></option>
				<option value="1m">> Less then 1 Million</option>
				<option value="2mto5m">2 Million to 5 Million</option>
				<option value="5mto10m">5 Million to 10 Million</option>
				<option value="above10m">above 10 Million</option>
			</select>
			<br/>
		</div>


		<label for="InputWebsiteUrl">Website Url</label>
		<input type="text" ng-model="userDetails.websiteurl" class="form-control" name="websiteUrl" placeholder="Enter Website Url"
			   validator="required, url"
			   valid-method="submit"
			   required-error-message="Please enter your Website Url"
			   id="InputWebsiteUrl"
			   tabindex="10"
		>
		<br/>

		<label for="InputAddress">Address</label>
					<textarea ng-model="userDetails.address" class="form-control" name="address" placeholder="Enter Street Name and Number"
							  validator="required"
							  valid-method="submit"
							  required-error-message="Please enter Street Name and Number"
							  id="InputAddress"
							  tabindex="11"
					>
					</textarea>
		<br/>


		<div class="row">
			<div class="form-group col-md-6">
				<label for="InputCity">City</label>

				<input type="text" class="form-control" ng-model="userDetails.city" name="city" placeholder="Enter City" required
					   validator="required"
					   valid-method="submit"
					   required-error-message="Please enter your City"
					   id="InputCity"
					   tabindex="12"
				>
			</div>
			<div class="form-group col-md-6">
				<label for="InputState">State</label>
				<select
						class="form-control" ng-model="userDetails.state" name="state"
						validator="required"
						valid-method="submit"
						required-error-message="Please enter your State"
						id="InputState"
						tabindex="13"
						name="state"

				>
					<option value="" class="text-grey-800">Select State</option>

					<option value="Andaman &amp; Nicobar Islands">Andaman &amp; Nicobar Islands</option>

					<option value="Andhra Pradesh">Andhra Pradesh</option>

					<option value="Arunachal Pradesh">Arunachal Pradesh</option>

					<option value="Assam">Assam</option>

					<option value="Bihar">Bihar</option>

					<option value="Chandigarh">Chandigarh</option>

					<option value="Chhattisgarh">Chhattisgarh</option>

					<option value="Dadra &amp; Nagar Haveli">Dadra &amp; Nagar Haveli</option>

					<option value="Delhi">Delhi</option>

					<option value="Daman &amp; Diu">Daman &amp; Diu</option>

					<option value="Goa">Goa</option>

					<option value="Gujarat">Gujarat</option>

					<option value="Haryana">Haryana</option>

					<option value="Himachal Pradesh">Himachal Pradesh</option>

					<option value="Jammu &amp; Kashmir">Jammu &amp; Kashmir</option>

					<option value="Jharkhand">Jharkhand</option>

					<option value="Karnataka">Karnataka</option>

					<option value="Karnataka">Kerala</option>

					<option value="Madhya Pradesh">Madhya Pradesh</option>

					<option value="Maharashtra">Maharashtra</option>

					<option value="Manipur">Manipur</option>

					<option value="Meghalaya">Meghalaya</option>

					<option value="Mizoram">Mizoram</option>

					<option value="Nagaland">Nagaland</option>

					<option value="Odisha">Odisha</option>

					<option value="Pondicherry">Pondicherry</option>

					<option value="Punjab">Punjab</option>

					<option value="Rajasthan">Rajasthan</option>

					<option value="Sikkim">Sikkim</option>

					<option value="Tamil Nadu">Tamil Nadu</option>

					<option value="Telangana">Telangana</option>

					<option value="Tripura">Tripura</option>

					<option value="Uttar Pradesh">Uttar Pradesh</option>

					<option value="Uttarakhand">Uttarakhand</option>

					<option value="West Bengal">West Bengal</option>

				</select>
			</div>
		</div>


		<div class="row">
			<div class="form-group col-md-6">
				<label for="InputPhone">Phone</label>
				<input type="text" class="form-control" ng-model="userDetails.phone"  name="phone" placeholder="Enter Phone" required
					   validator="required, number"
					   valid-method="submit"
					   required-error-message="Please enter your Phone Number"
					   id="InputPhone"
					   tabindex="14"
				>
			</div>
			<div class="form-group col-md-6">

				<label for="InputZipcode">Zipcode</label>
				<input type="text" class="form-control" ng-model="userDetails.zipcode"  name="zipcode" placeholder="Enter Zipcode" required
					   validator="required, number"
					   valid-method="submit"
					   required-error-message="Please enter your Zipcode"
					   id="InputZipcode"
					   tabindex="15"
				>
			</div>
		</div>
		<br/>

		<div ng-class="{ 'alert': errorFlash, 'alert-success': errorFlash.type === 'success', 'alert-danger': errorFlash.type === 'error' }" ng-if="errorFlash" ng-bind="errorFlash.message"></div>

		<div class="form-group text-center clearfix">
			<input type="submit" name="submit" id="submit" value="Save Details" ng-click="form.submit(updateAccountSettings)" class="btn btn-primary btn-lg" tabindex="16">
		</div>
		</div>
</form>