<div id="applicationMessage">
    <div class="modal-header">
        <h3 class="modal-title">Message</h3>
    </div>
    <div class="modal-body">

        <div ng-class="{ 'alert': appViewMsg, 'alert-success': appViewMsg.type === 'success', 'alert-danger': appViewMsg.type === 'error' }" ng-if="appViewMsg" ng-bind="appViewMsg.message"></div>

    </div>
    <div class="modal-footer text-center">
        <button class="btn btn-primary"  ng-click="ok();">Close</button>
    </div>
</div>
<!--<script type="text/javascript" src="static/js/controllers/applicationMsgController.js"></script>-->