<div class="panel panel-flat p-x-10">
	<div class="panel-heading">
		<h5 class="panel-title">Campaign Performance</h5>
		<!--
			<div class="heading-elements">
				<ul class="icons-list">
					<li><a data-action="collapse"></a></li>
					<li><a data-action="close"></a></li>
				</ul>
			</div>
		-->
	</div>
	<div class="table controlsBlock">
	<div class="row controls" id="mobileViewControls" style="display:none;">
		Campaign Id: <span>{{campaign_id}}</span><br/>
		From: <span>{{startDate}}</span> , To : <span>{{endDate}}</span><br/>
		<a href="javascript:void(0);" class="pull-right"><i class=""></i>Change</a>
	</div>
	<div class="row controls">
		<div class="col-md-2">
			<label>Campaign Id </label>
			<p class="input-group-inline">
			<select class="form-control" name="campaignId" id="campaignId" ng-model="campaign_id">
				<option value="all" selected>All</option>
				<option ng-repeat="campaignid in campaignIds" value="{{campaignid}}">{{ campaignid }}</option>
			</select>
			</p>
		</div>

		<span  ng-controller="datePickerCtrl" class="datePickerCtrl" ng-init="init()">
		<div class="col-md-2">
			<label>Start Date</label>
			<p class="input-group">
				<input type="text" class="form-control ng-pristine ng-valid ng-isolate-scope ng-not-empty ng-valid-required ng-valid-date ng-touched" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="startDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required="required" style="">
				  <span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open1()"><i class="icon-calendar2"></i></button>
				  </span>
			</p>
		</div>
		<div class="col-md-2">
				<label>End Date</label>
			<p class="input-group">
				<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="endDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
				  <span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open2()"><i class="icon-calendar2"></i></button>
				  </span>
			</p>
		</div>
		</span>
		<div class="col-md-2 reloadBtn">
			<label>&nbsp;</label>
			<p class="input-group">
				<button ng-click="updateChart()" class="btn updateBtn"></button>
			</p>
		</div>

	</div>
	</div>
	<div class=" clearfix " >
	<div class="col-md-6 no-padding clearfix">
		<div class="topFeatures table clearfix animate-show" ng-show="!!ctr">
			<div class="col-xs-4">
				<div>CTR :</div>
				<h2>{{ctr.split('.')[0]}}</h2>.{{ctr.split('.')[1]}}
			</div>
			<div class="col-xs-4">
				<div>eCPM :</div>
				<h2>{{eCPM.split('.')[0]}}</h2>.{{eCPM.split('.')[1]}}
			</div>
			<div class="col-xs-4">
				<div>Conversion Rate :</div>
				<h2>{{conversions.split('.')[0]}}</h2>.{{conversions.split('.')[1]}}
			</div>
		</div>
	</div>
	</div>
	<div class="chartsBlock campaign clearfix">
	<div  class="tabs clearfix " id="chartTypes">
		<span class="glyphicon glyphicon-chevron-right rightIco"></span>
		<div>
			<a ng-click="updateChart('impressions')" class="impressions col-md-2">
				<i class="icon-image4"></i>
				Impressions
			</a>
			<a ng-click="updateChart('clicks')" class="clicks col-md-2">
				<i class="icon-touch"></i>
				Clicks
			</a>
			<a ng-click="updateChart('conversions')" class="conversions col-md-2">
				<i class="icon-stairs-up"></i>
				Conversions
			</a>
			<a ng-click="updateChart('cost')" class="cost col-md-2">
				<i class="icon-coins"></i>
				Cost
			</a>
		</div>
	</div>

	<div class="charts" id="charts">

		<div  id="performanceChart">
			<span class="glyphicon glyphicon-chevron-right rightIco"></span>
			<div class="svgBlock"></div>
		</div>
		<div  id="eCPMChart" >
			<span class="glyphicon glyphicon-chevron-right rightIco"></span>
			<div class="svgBlock"></div>
		</div>
	</div>
	</div>

	<div class="panel panel-flat p-x-10">
		<div class="table-responsive" ng-include src="'views/tabular.html'"></div>
	</div>
</div>