<div class="panel panel-flat p-x-10">
	<div class="panel-heading">
		<h5 class="panel-title">Best Performing Audience Segments</h5>
	</div>

	<span class="idealTargetParamBlock"  style="min-height:500px; display:inline-block">
	<div class="table controlsBlock">
		<div class="row controls">
			<div class="col-md-3">
				<label>Campaign Id </label>
				<p class="input-group-inline">
				<select class="form-control" name="campaignId" id="campaignId" ng-model="campaign_id" ng-change="onCampaignSelect()">
					<option value="" selected>Select a Campaign</option>
					<option ng-repeat="campaignid in campaignIds" value="{{campaignid}}">{{ campaignid }}</option>
				</select>
				</p>
			</div>

			<div class="col-md-2">
				<label>Performance Metric</label>
				<p class="input-group-inline">
				<select class="form-control" name="performanceMetric" id="performanceMetric" ng-model="metric"
				>
					<option value="" selected>Select Performance Metric</option>
					<option ng-repeat="option in performanceMetrics" value="{{option.key}}">{{option.value}}</option>
<!--
					<option ng-repeat="key as metric for metric in performanceMetrics" value="{{metric}}">{{ metric }}</option>
-->
				</select>
				</p>
			</div>
		<span  ng-controller="datePickerCtrl" class="datePickerCtrl" ng-init="init()">
		<div class="col-md-2">
			<label>Start Date</label>
			<p class="input-group">
				<input type="text" class="form-control ng-pristine ng-valid ng-isolate-scope ng-not-empty ng-valid-required ng-valid-date ng-touched" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="startDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required="required" style="">
				  <span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open1()"><i class="icon-calendar2"></i></button>
				  </span>
			</p>
		</div>
		<div class="col-md-2">
			<label>End Date</label>
			<p class="input-group">
				<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="endDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
				  <span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open2()"><i class="icon-calendar2"></i></button>
				  </span>
			</p>
		</div>
	</span>
			<div class="col-md-2 reloadBtn">
			<label>&nbsp;</label>
			<p class="input-group">
				<button ng-click="loadITP()" class="btn updateBtn"></button>
			</p>
		</div>
	</div>
</div>
		<div ng-include src="'views/idealTargetHTML.html'"  ng-if="idealTargetParams!=null"></div>

		<!--<div class="table-responsive" ng-include src="'views/tabular.html'"></div>-->

</span>
</div>