<div class="table">
  <div class="row" >
    <div class="col-md-3 userAvtar" ng-if="idealTargetImg != null" >
      <br/>
      <img ng-src="static/images/idealTargetImages/{{idealTargetImg}}.png" class="dummyImage" />
      <div class="col-md-7 offset-md-3 pull-right legend">
        <br/><br/>
        <div><span class="leg1"></span>Best Segment</div>
        <div><span class="leg2"></span>Second Best Segment</div>
      </div>
    </div>
    <div class="col-md-7 division">
      <div class="row">
        <br/>
        <div class="col-md-7 offset-md-3 pull-right legend">
          <span class="leg1"></span>Best Segment
          <span class="leg2"></span>Second Best Segment
        </div>
      </div>
      <form class="form-horizontal" role="form" >

        <div class="form-group-inline row"  ng-if="!!idealTargetParams.channel">
          <label class="control-label col-xs-4">Ideal Channel:</label>
          <div class="col-xs-8 values">
            {{idealTargetParams.channel}}
          </div>
        </div>
        <div class="form-group-inline row"  ng-if="!!idealTargetParams.channel">
          <label class="control-label col-xs-4">Date:</label>
          <div class="col-xs-8 values">
            {{ idealTargetParams.date | date : "dd MMM y" }}
          </div>
        </div>
        <div class="form-group" ng-if="!!idealTargetParams.age">
          <label class="control-label col-md-4" >Age group:</label>
          <div class="col-md-8 values">
            <span class="p1">{{idealTargetParams.age.p1}}</span>
            <span class="p2" ng-if="!!idealTargetParams.age.p2">{{idealTargetParams.age.p2}}</span>
          </div>
        </div>
        <div class="form-group" ng-if="!!idealTargetParams.gender">
          <label class="control-label col-md-4" >Gender:</label>
          <div class="col-md-8 values">
            <span class="p1">{{idealTargetParams.gender.p1}}</span>
            <span class="p2" ng-if="!!idealTargetParams.gender.p2">{{idealTargetParams.gender.p2}}</span>
          </div>
        </div>
        <div class="form-group" ng-if="!!idealTargetParams.device">
          <label class="control-label col-md-4" >Devices:</label>
          <div class="col-md-8 values">
            <span class="p1">{{idealTargetParams.device_type.p1}}</span>
            <span class="p2" ng-if="!!idealTargetParams.device_type.p2">{{idealTargetParams.device_type.p2}}</span>
          </div>
        </div>
        <div class="form-group"  ng-if="!!idealTargetParams.audience_segment">
          <label class="control-label col-md-4">Interests:</label>
          <div class="col-md-8 values">
            <span class="p1">{{idealTargetParams.audience_segment.p1}}</span>
            <span class="p2" ng-if="!!idealTargetParams.audience_segment.p2">{{idealTargetParams.audience_segment.p2}}</span>
          </div>
        </div>
        <div class="form-group" ng-if="!!idealTargetParams.browser">
          <label class="control-label col-md-4" >Browser:</label>
          <div class="col-md-8 values">
            <span class="p1">{{idealTargetParams.browser.p1}}</span>
            <span class="p2" ng-if="!!idealTargetParams.browser.p2">{{idealTargetParams.browser.p2}}</span>
          </div>
        </div>
        <div class="form-group" ng-if="!!idealTargetParams.os">
          <label class="control-label col-md-4" >OS:</label>
          <div class="col-md-8 values">
            <span class="p1">{{idealTargetParams.os.p1}}</span>
            <span class="p2" ng-if="!!idealTargetParams.os.p2">{{idealTargetParams.os.p2}}</span>
          </div>
        </div>
        <div class="form-group" ng-if="!!idealTargetParams.resolution">
          <label class="control-label col-md-4" >Resolution:</label>
          <div class="col-md-8 values">
            <span class="p1">{{idealTargetParams.resolution.p1}}</span>
            <span class="p2" ng-if="!!idealTargetParams.resolution.p2">{{idealTargetParams.resolution.p2}}</span>
          </div>
        </div>
        <div class="form-group" ng-if="!!idealTargetParams.city">
          <label class="control-label col-md-4" >Location:</label>
          <div class="col-md-8 values">
            <span class="p1">{{idealTargetParams.city.p1}}</span>
            <span class="p2" ng-if="!!idealTargetParams.city.p2">{{idealTargetParams.city.p2}}</span>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>