<div class="panel panel-flat p-x-10">
    <div class="panel-heading">
        <h5 class="panel-title">Campaign Management</h5>
    </div>
    <div class="row controls">
        <div class="col-md-3">
            <br/>
            <p class="input-group-inline">
                <button class="btn btn-lg btn-primary valign-middle" ui-sref="appView.campaigns.addCampaign()"><i class="icon-add"></i> <strong>Add Campaign</strong></button>
            </p>
        </div>

    </div>
    <div class="table-responsive" ng-include src="'views/tabular.html'"></div>
</div>
